<!--Navbar-->
<nav class="navbar navbar-light secondary-color-dark navbar-1">

  <!-- Navbar brand -->
  <a class="navbar-brand text-white" href="/">Creative Meet</a>

  <!-- Collapse button -->
  <button class="navbar-toggler btn peach-gradient" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/artist-dash">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/artist-post">Make a Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout">Logout</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<div class="container shift cash fromtop">
  <header>
    <h2>Name</h2>
    <form class="create-name" id="createName">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" id="name-input" name="name" class="form-control" placeholder="Name" aria-label="Name"
            aria-describedby="button-addon2">
          <div class="input-group-append">
          </div>
        </div>
        <h2>Bio</h2>
        <input type="text" id="bio-input" name="bio" class="form-control" placeholder="Name" aria-label="Name"
          aria-describedby="button-addon2">
        <div class="input-group-append">
        </div>
      </div>
    <h2>Works</h2>
      <div class="file-field input-field">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
        <div>
          <button class="btn waves-effect waves-light btn peach-gradient" type="submit" name="action">Submit
          <i class="material-icons right"></i>
        </button>
        </div>
      </div>
    </form>
    </section>
    <footer>
      {{!-- <p>Footer</p> --}}
    </footer>
</div>