<!--Navbar-->
<nav class="navbar navbar-light secondary-color-dark navbar-1">
    <!-- Navbar brand -->
    <a class="navbar-brand text-white" href="/">Creative Meet</a>
    <!-- Collapse button -->
    <button class="navbar-toggler btn peach-gradient" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent15" aria-controls="navbarSupportedContent15" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent15">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
                <a class="nav-link text-white" href="/artist-dash">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/blogpage">Blog Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/logout">Logout</a>
            </li>
        </ul>
        <!-- Links -->
    </div>
    <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
<div class="container fromtop">
    <form class="post" id="post">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control">
        <hr>
        <label for="comment">Write something here!</label>
        <textarea class="form-control rounded-0" id="comment" rows="10"></textarea>
        <button class="btn btn-info btn-block my-4" type="submit">Submit</button>
    </form>
</div>