<!--Navbar-->
<nav class="navbar navbar-light secondary-color-dark navbar-1">
  <!-- Navbar brand -->
  <a class="navbar-brand text-white" href="/">Creative Meet</a>
  <!-- Collapse button -->
  <button class="navbar-toggler btn peach-gradient" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/blogpage">Blog Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/artist-post">Make a Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/logout">Logout</a>
      </li>
    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
<div class="container shift cash fromtop">
  <hr>
  <h2 class="hover">Name</h2>
  <form class="create-name" id="createName">
    <div class="form-group">
      <div class="input-group mb-3">
        <input type="text" id="name-input" name="name" class="form-control" placeholder="Insert Your Name Here" aria-label="Name"
          aria-describedby="button-addon2">
        <div class="input-group-append"></div>
      </div>
      <hr>
      <h2>Title</h2>
        <input type="text" id="bio-input" name="bio" class="form-control" placeholder="Insert Your Work's Title Here" aria-label="Name"
          aria-describedby="button-addon2">
      <hr>
      <h2>Link to Your Work</h2>
        <input type="text" id="works-input" name="works" class="form-control" placeholder="Copy and Paste Link Here" aria-label="works"
        aria-describedby="button-addon2">
      <hr>
      <div class="input-group-append"></div>
        <button class="btn btn-info btn-block my-4" id="name-btn1">Submit</button>
      </div>
      <a href="/artist-post" class="loginColor">Make a Blog Post!</a>
    </div>
  </form> 
  
</div>