<!--Navbar-->
<nav class="navbar navbar-light navbar-1 white">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">Creative Meet</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

<div class="container">
  <header>
    <div>
      <img src="https://via.placeholder.com/150x150" class="profileImage-cover">
    </div>
      <h2>Name</h2>
   <form class="create-name" id="createName">
      <div class="form-group">
        <div class="input-group mb-3">
          <input type="text" id="name-input" name="name" class="form-control" placeholder="Name"
            aria-label="Name" aria-describedby="button-addon2">
          <div class="input-group-append">
          </div>
        </div>
        <h2>Bio</h2>
        <input type="text" id="bio-input" name="bio" class="form-control" placeholder="Name"
            aria-label="Name" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn name-btn waves-effect waves-light" id="name-btn1">Submit</button>
          </div>
      </div>
    </form>
    
    <h2>Works</h2>
    
  <form action="#">
    <div class="file-field input-field">
      <div class="btn">
        <span>Insert Work Here!</span>
        <input type="file" id="works-btn">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
  </form>
  </section>
  <footer>
    {{!-- <p>Footer</p> --}}
  </footer>
</div>

  

