<!--Navbar-->
<nav class="navbar navbar-light navbar-1 ">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">Creative Meet</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent15"
    aria-controls="navbarSupportedContent15" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent15">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->


<div class="container">
  <h1>Search for Artists<i class="fa fa-music" aria-hidden="true"></i> <i class="fa fa-paint-brush" aria-hidden="true"></i> <i
      class="fa fa-camera" aria-hidden="true"></i> <i class="fa fa-film" aria-hidden="true"></i></h1>
  <div class="nav-wrapper">
    <form>
      <div class="input-field"> <input id="search" type="search" required> <label class="label-icon" for="search"><i
            class="material-icons"></i></label> <i class="material-icons"></i> </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Search
    <i class="material-icons right"></i>
  </button>
    </form>
  </div>
</div>
<div class="container" id="works">
  <div class="row-just-content-md-center">
    <div class=col-md-12>
      <h1 class="works">Work of the Day:</h1>
      <hr />
    </div>
    <div class="col-md-12"> <img src="" alt="artist's work" class="picture" align=left>
      <p>Works go Here</p>
    </div>
  </div>
  <div class="row-just-content-md-center">
    <div class=col-md-12>
      <h1 class="works">Additional Work You May Enjoy!</h1>
      <hr />
    </div>
    <div class="col-md-12"> <img src="" alt="artist's work" class="picture" align=left>
      <p>Works go Here</p>
    </div>
  </div>
</div>
</div>