 <form class="col s4">
      <div class="row">
        <div class="input-field col s12">
          <input id="FirstName" type="text" class="validate">
          <label for="FirstName">E-Mail</label>
        </div>
        <div class="input-field col s12">
          <input id="LastName" type="text" class="validate">
          <label for="LastName">Passsword</label>
        </div>
		  <div class="input-field col s12">
			  <button type="submit-signup" class="waves-effect waves-light btn">Submit</button>
        </div>
      </div>
    </form>                  

    <html>
   <head>
      <title>The Materialize Form Example</title>
      <meta name = "viewport" content = "width = device-width, initial-scale = 1">      
      <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
   </head>
   