  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Creative Meet</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
  </nav>
<div class="container">
  <h1>Artists<i class="fa fa-music" aria-hidden="true"></i>
  <i class="fa fa-paint-brush" aria-hidden="true"></i>
  <i class="fa fa-camera" aria-hidden="true"></i>
  <i class="fa fa-film" aria-hidden="true"></i>
</h1>

  <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="material-icons">Search for Artists Here!</i></label>
          <i class="material-icons"></i>
        </div>
      </form>
    </div>
    </div>

<div class="container" id="works">
        <div class="row-just-content-md-center">
            <div class=col-md-12>
                <h1 class="works">Work of the Day:</h1>
                <hr />
            </div>
                <div class ="col-md-12">
                <img src="" alt=" artist's work" class="picture" align=left>
                <p>Works go Here</p>
                </div>
            </div>
      
        <div class="row-just-content-md-center">
            <div class=col-md-12>
                <h1 class="works">Additional Work You May Enjoy!</h1>
                <hr />
            </div>
                <div class ="col-md-12">
                <img src="" alt=" artist's work" class="picture" align=left>
                <p>Works go Here</p>
                </div>
            </div>
        </div> 
  </div>