.profileImage-cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


  .main {
    border-radius: 0px;
  }
}
